{
  "env": {
      "commonjs": true,
      "es6": true,
      "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "rules": {
      "indent": [
          "warn",
          2,
          {
            "SwitchCase": 1
          }
      ],
      "linebreak-style": [
          "error",
          "unix"
      ],
      "quotes": [
          "warn",
          "single"
      ],
      "no-console": "warn",
      "key-spacing": "warn",
      "comma-dangle": "warn",
      "semi": [
          "warn",
          "never"
      ]
  }
}
